@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    font-weight: 400;
    /* 1.6 * 10 = 16px */
    font-size: 1.6rem;  
}

h1{
    font-weight: 800;
    font-size: 3.6rem;
    margin: 1.6rem 0;
}

h2{
    font-weight: 800;
    font-size: 2.4rem;
    margin: 1.6rem 0;
}

p{
    font-weight: 800;
    font-size: 1.8rem;
    margin: 1.6rem 0;
}

img{
    width: 100%;
    height: auto;
}


.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

section{
    padding: 100px 0;
}

/* --------------Header------------------------- */

body{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.6)), url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header .logo h1{
    font-size: 3.2rem;
    color: #4caf50;
    letter-spacing: 5px;
    margin: 0;
    transition: .1s ease-in-out;
}

header .logo h1:hover{
    color: whitesmoke;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 2% 8%;
    z-index: 100;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin-left: 2.5rem;
}

header nav ul li a{
    color: whitesmoke;
    transition: .1s ease-in-out;
}

header nav ul li a:hover{
    color: #4caf50;
}

header nav box-icon{
    display: none;
}

/* -----------------------Header-content----------------- */
.header-content{
    color: whitesmoke;
    width: 50%;
    padding: 20px;
    position: relative ;
    top: 80px;
    left: 10%;
   
}

.header-content h2{
    display: inline;
}

.header-content h2, span{
    /* letter-spacing: 2px; */
    font-size: 3rem;
    font-weight: 600;
}

.header-content p{
    font-size: 2rem;
    font-weight: 300;
}

.header-content form{
    width: 100%;
    margin-top: 30px;
}

.header-content form input{
    display: block;
    width: 50%;
    height: 40px;
    padding: 10px 20px;
    margin: 15px 0;
    font-size: 1.5rem;
}

.header-content form input::placeholder{
    font-size: 1.3rem;
    color: #adadad;
}

.header-content form input[type=submit]{
    font-weight: 500;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    transition: .1s ease-in-out;
}

.header-content form input[type=submit]:hover{
    color: #4caf50;
    background-color:rgba(15, 15, 15,1);
    border: 1px solid rgb(71, 70, 70);
}






@media only screen and (max-width:760px){
    /* -----------navbar-------------------------------------- */
    header nav{
        flex-direction: column;
        text-align: center;
        position: relative;
    }

    header  nav ul{
        background-color: rgba(15, 15, 15,0.7);
        width: 95%;
        border-radius: 15px;
        display: none;
    }

    header nav ul li{
        display: block;
        padding: 20px 0;
        margin: 0;
        border-radius: 15px;
    }

    header nav ul li:hover{
        background-color: rgba(15, 15, 15,1);
    }

    header nav ul li a{
      color: whitesmoke;
    }

    header nav ul li a:hover{
        color: #4caf50;
      }

      /* ----------navbar icon-------------------------- */
      header nav box-icon{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    /* -----------navbar icon toggle---------------------- */
    .showmenu{
        display: block;
    }

    /* -----------------header-content---------------------- */
    .header-content{
        width: 100%;
        top: 15%;
        left: 0;
        align-items: center;
        text-align: center;
    }

    .header-content h2{
        display: block;
        line-height: 15px
    }

    .header-content h2, span{
        /* letter-spacing: 2px; */
        font-size: 2.5rem;
    }

    .header-content p{
        margin-top: 30px;
        font-size: 1.5rem;
    }

    .header-content form{
        width: 90%;
        margin-left: auto;
    }

    .header-content form input{
        width: 90%;
        height: 35px;
    }

    .header-content form input[type=submit]{
        width: 60%;
        margin-left: 17%;
    }

    
}
