@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    font-weight: 400;
    /* 1.6 * 10 = 16px */
    font-size: 1.6rem;  
}

h1{
    font-weight: 800;
    font-size: 3.6rem;
    margin: 1.6rem 0;
}

h2{
    font-weight: 800;
    font-size: 2.4rem;
    margin: 1.6rem 0;
}

p{
    font-weight: 800;
    font-size: 1.8rem;
    margin: 1.6rem 0;
}

img{
    width: 100%;
    height: auto;
}


.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

section{
    padding: 100px 0;
}

/* --------------Header------------------------- */

body{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.6)), url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header .logo h1{
    font-size: 3.2rem;
    color: #4caf50;
    letter-spacing: 5px;
    margin: 0;
    transition: .1s ease-in-out;
}

header .logo h1:hover{
    color: whitesmoke;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 2% 8%;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin-left: 2.5rem;
}

header nav ul li a{
    color: whitesmoke;
    transition: .1s ease-in-out;
}

header nav ul li a:hover{
    color: #4caf50;
}

header nav box-icon{
    display: none;
}